body {
    background-color: palevioletred;
}

.btn {
    margin-left: 500px;
}
.title.ribbon {
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    color: brown;
}

.title {
    color: brown;
    text-align: center;
}

.ribbon {
    color: yellow;
}